body{
    background-color: #181A1B;
    color: #E8E6E3;
}

.problem-definition{
    align-self: center;
    text-align: center;
    max-width: 50vw;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}